.kitchens-index
  .page-header
    %h1= raw(type)

  .slider-container
    = render 'kitchens/slideshow', locals: {kitchens: kitchens}
    .stormer-logo= image_tag 'stormer-logo.jpg'

  .description
    .well= raw(description)

  .features
    .page-header
      %h2 Quality Features

    - features.each_slice(3) do |feature_row|
      %ul.features-list
        - feature_row.each do |feature|
          %li.item
            =render feature
    - if current_user
      = link_to 'New feature', new_feature_path, :class => 'btn btn-mini'

  .final-message
    .well= raw final_message
