.navbar
  .navbar-inner
    .container
      %ul.nav
        %li{:class => ('active' if active?('Home'))}
          = link_to 'Home', root_path
        %li{:class => ('active' if active?('störmer küchens'))}
          = link_to 'Störmer Küchens', stormer_kitchens_path
        %li{:class => ('active' if active?('Hand Made Furniture'))}
          = link_to 'Hand Made Furniture', hand_made_furniture_path
        %li{:class => ('active' if active?('Contact'))}
          = link_to 'Contact', '/contact'

      -cache 'login_nav' do
        %ul.nav.pull-right{'data-no-turbolink' => true}
          - if current_user
            %li= link_to 'New User', new_user_path
            %li= link_to 'Log out', session_path('current'), method: :delete
          - else
            %li= link_to 'Login', new_session_path
