.kitchens-index
  .page-header
    %h1= raw(type)

  #slideshow.kitchens
    - kitchens.each do |kitchen|
      %div{:class => "kitchen #{kitchen.name.parameterize}"}
        .actions
          = link_to 'Edit', edit_kitchen_path(kitchen), :class => 'btn btn-mini' 
          = link_to 'Delete', kitchen, :class => 'btn btn-mini btn-danger'

        %img.image{src: kitchen.image.url(:main), alt: kitchen.name}

  .description
    .well= raw(description)

  .new-kitchen
    = link_to 'New Kitchen', new_kitchen_path, :class => 'btn btn-primary'
