.row
  .opening-hours
    %h2.title Opening Times
    %table.table.table-striped.table-bordered.table-condensed
      %tbody
        %tr
          %td Monday to Friday
          %td 9:30am til 17:00pm
        %tr
          %td Saturday
          %td 10:00am til 16:00pm

.row
  .contact
    = simple_form_for(@message, url: contact_path,
      html: { method: :put, :class => 'form-horizontal contact-form' }) do |f|
      %fieldset
        %legend Contact Form

        = f.input :name, placeholder: 'John Smith'
        = f.input :company, placeholder: 'Optional'
        = f.input :email, placeholder: 'someone@example.com'

        .control-group.appointment
          = f.label :appointment?, nil, :class => 'control-label'
          .controls= f.check_box :appointment

        = f.input :date, as: :datetime, discard_year: true, minute_step: 15, prefix: :date,
          wrapper_html: { :id => 'appointment-date' },
          input_html: { :class => 'input-small' }

        = f.input :content, placeholder: 'Your message here...', as: 'text',
          label: 'Message', input_html: { rows: '10', cols: '10', :class => 'message' }

        .form-actions
          = f.submit 'Send message', :class => 'btn btn-primary'

  .map
    %h2.title Find us
    .well
      %iframe{:frameborder => "0", :height => "340", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=Classique+Kitchens,+Carlisle&aq=0&oq=classique+kitchens&sll=53.800651,-4.064941&sspn=21.856753,54.228516&ie=UTF8&hq=Classique+Kitchens,&hnear=Carlisle,+Cumbria,+United+Kingdom&t=m&cid=17901004868574558637&z=14&iwloc=A&output=embed", :width => "425"}
      %br/
      %small
        %a{:href => "https://maps.google.co.uk/maps?f=q&source=embed&hl=en&geocode=&q=Classique+Kitchens,+Carlisle&aq=0&oq=classique+kitchens&sll=53.800651,-4.064941&sspn=21.856753,54.228516&ie=UTF8&hq=Classique+Kitchens,&hnear=Carlisle,+Cumbria,+United+Kingdom&t=m&cid=17901004868574558637&z=14&iwloc=A", :style => "color:#0000FF;text-align:left"} View Larger Map

