!!! 5
%html
  %head
  %title Classique Kitchens

  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  %link(href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css') 
  = csrf_meta_tags

%body
  .container
    .header.page-header
      =render 'shared/navigation'

      .header-inner
        =link_to root_path do
          .hgroup.title
            %h1.company-name Classique Kitchens
            %h2.subheading Personal - Individual - Inspirational
 
        .contact
          %p.address= "Visit us at our new kitchen studio: #{address}"
          %p.phone-number= "or call us on #{phone_number}."

    .content
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close(data-dismiss='alert') x
          = msg

      = yield
    .footer
      &copy;2012 Classique Kitchens

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32137314-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
