!!! 5
%html
  %head
  %title Classique Kitchens

  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  .container
    %header.page-header
      .navbar
        .navbar-inner
          .container
            %ul.nav
              %li.active
                = link_to 'Home', root_path
              %li
                = link_to 'Kitchens', kitchens_path
              %li
                %a{href: '#'} Brands

            %p.navbar-text= phone_number

      %hgroup.title
        %h1.company-name Classique Kitchens
        %h2.subheading Kitchens and Appliances Cumbria

    - flash.each do |name, msg|
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
        %a.close(data-dismiss='alert') x
        = msg

    = yield
